/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

*= require_tree

*= require foundation_and_overrides
*= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Montaga);
$lightgray: #ede0d5;
$blue: #354a57;
$borderbrown: #a52a2a;
$backgroundorange: #ffffcc;
$fontgreen: #008000;
$fontblue: #94c9ff;

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

.center-text {
  text-align: center;
}
.main-nav-scrolled {
  position: fixed;
}
.content {
  padding-left: 20px;
}
.side-nav  {
  background-color: #b94947;
  padding: 1em;
  color:$blue !important ;
  h1, h2, h3, h4, h5 {
    color:$blue !important ;
  }

}
.searchfield {
  display: inline-block;
}
.searchbutton {
  display: inline-block;
  float: right;
}
.user-control {
  margin: 1.0em;
}
.title {
  background-color: #000000;
}
.searchbar {
  display: inline-block;
  float: left;
}

.page-end {
  font-size: 1.25em;
}

.explore-pic img {
  border: 10px solid;
  border-color: $blue ;
}

.search-page img{
  border: 10px solid;
  border-color: $blue ;
}

.no-pad {
  padding: 0;
}

.no-pad-left {
  padding-left: 0;
}
.no-pad-right {
  padding-right: 0;
}
.no-pad-bot {
  padding-bottom: 0;
}
.body {
  font-family: 'Montaga', serif;
  color: #333;
}

ul {

  color: #333;
}

li {
  padding: 2px;
}
h1 {

}

h3 {
  font-family: 'Montaga', serif;

}

.recipe-name {
  font-family: 'Montaga', serif;
  min-height: 6em;
  position: relative;
  bottom: 0;
  left: 0;
}


